@import "styles/colors.scss";
@import "styles/media-sizes.scss";
@import "styles/flex.scss";


@mixin navbarContainer(){
  width: calc(100% - #{$navbar-width});
}

.CurriculumVitae {
  &-content {
    box-sizing: border-box;
    @include flex(column, center, center);
    min-height: 100vh;
  }

}