.BackgroundImage--fullHeight {
    height: 100%;
}
.BackgroundImage--fullWidth {
    width: 100%;
}

.BackgroundImage--smallPadding {
    padding: 4rem 0;
}

.BackgroundImage--bigPadding {
    padding: 8rem 0;
}
.BackgroundImage--noRepeat {
    background-repeat: no-repeat center;
}