@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/media-sizes.scss';

.Header {
    font-family: $font-poppins-sans-serif;
    @include breakpoint(xs, only) {
      font-size: 2rem;
      margin: 2rem;
    }

    @include breakpoint(md, up) {
      font-size: 3.5rem;
      margin: 0;
    }

    color: $color-cerulean;
    font-weight: 600;
    text-align: center;
}