@import "styles/media-sizes.scss";
@import "styles/flex.scss";
@import 'styles/fonts.scss';
@import "styles/colors.scss";

.NavigationItemList {
  color: $color-catskill-white;
  font-family: $font-poppins-sans-serif;
  border-bottom: 1px solid $color-dove-gray;

  &-elementListWrapper {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);

    &--visibilityAnimationPre {
      height: 0;
    }
    border-radius: 0.3rem;
  }

  &-elementList {
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1);

    @include breakpoint(lg, down) {
      @include flex(column, center, center);
      border-radius: 1rem;
    }

    &--visibilityAnimationPre{
      visibility: hidden;
    }

    &--visibilityAnimationPost {
      transform: translateY(0px);
    }

    @include breakpoint(lg, up) {
      @include flex(row, center, center);
      width: 820px;
    }
  }


  &-mobileHeader {
    padding: 0 2rem;
    box-sizing: border-box;
    width: 100%;
      @include flex(row, space-between, center);
  }

  &-title {
    font-size: 1rem;
  }

  &-wrapper {
    background-color: $color-black;
    color: $color-white;
    
    @include breakpoint(md, up) {
      @include flex(row, space-evenly, center);
    }

    @include breakpoint(xs, only) {
      @include flex(column, space-evenly, center);
    }
  }

}