/*Navbar show/hide breakpoint*/
.NavigationItemList {
  color: #eef1f6;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #686564; }
  .NavigationItemList-elementListWrapper {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
    border-radius: 0.3rem; }
    .NavigationItemList-elementListWrapper--visibilityAnimationPre {
      height: 0; }
  .NavigationItemList-elementList {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1); }
    @media (max-width: 921px) {
      .NavigationItemList-elementList {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: center;
        justify-content: center;
        align-items: center;
        border-radius: 1rem; } }
    .NavigationItemList-elementList--visibilityAnimationPre {
      visibility: hidden; }
    .NavigationItemList-elementList--visibilityAnimationPost {
      transform: translateY(0px); }
    @media (min-width: 921px) {
      .NavigationItemList-elementList {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-flow: row;
        flex-flow: row;
        -webkit-justify-content: center;
        justify-content: center;
        align-items: center;
        width: 820px; } }
  .NavigationItemList-mobileHeader {
    padding: 0 2rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center; }
  .NavigationItemList-title {
    font-size: 1rem; }
  .NavigationItemList-wrapper {
    background-color: black;
    color: #ffffff; }
    @media (min-width: 769px) {
      .NavigationItemList-wrapper {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-flow: row;
        flex-flow: row;
        -webkit-justify-content: space-evenly;
        justify-content: space-evenly;
        align-items: center; } }
    @media (min-width: 0px) and (max-width: 320px) {
      .NavigationItemList-wrapper {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: space-evenly;
        justify-content: space-evenly;
        align-items: center; } }
