@import "styles/flex.scss";
@import "styles/colors.scss";
@import "styles/media-sizes.scss";

.NavigationItem {
    color: $color-white;
    @include flex(row, center, center);
    text-decoration: none;
    padding: 1rem;

    @include breakpoint(md, down) {
        width: 90%;
        border-radius: 2rem;
    }

    &:hover {
        @include breakpoint(md, up) {
            padding: 1rem;
        }
    }

    &-title {
        font-size: 1rem;
        font-weight: 600;
    }

    &-description {
        font-size: 0.9em;
        margin: 0.3em 0 1em 0
    }
}

.NavigationItem--active {
    color:  $color-cerulean;
}

.NavigationItem--inactive {
    &:hover {
        color: $color-cerulean;
    }

}