/*Navbar show/hide breakpoint*/
.NavigationItem {
  color: #ffffff;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem; }
  @media (max-width: 769px) {
    .NavigationItem {
      width: 90%;
      border-radius: 2rem; } }
  @media (min-width: 769px) {
    .NavigationItem:hover {
      padding: 1rem; } }
  .NavigationItem-title {
    font-size: 1rem;
    font-weight: 600; }
  .NavigationItem-description {
    font-size: 0.9em;
    margin: 0.3em 0 1em 0; }

.NavigationItem--active {
  color: #129bda; }

.NavigationItem--inactive:hover {
  color: #129bda; }
