/*Navbar show/hide breakpoint*/
.WorkExperienceList {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: space-evenly;
  width: 100%;
  height: 100%;
  padding: 1rem 0 1rem 0; }
  .WorkExperienceList-content {
    max-width: 700px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; }
  .WorkExperienceList-itemWrapper {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center; }
