@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import "styles/flex.scss";
@import 'styles/media-sizes.scss';

.Home {
  font-family: $font-lato;
  border-radius: .25rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  @include flex(column, center, center, 1);
  @include breakpoint(md, down) {
    padding: 1rem ;
    background-color: $color-butterfly-bush;
  }

  &-container {
    @include flex(column, space-around, center, 1);
    height: 100%;
    width: 100%;
    @include breakpoint(md, up) {
      background-image: url('https://firebasestorage.googleapis.com/v0/b/nfm-cv.appspot.com/o/pexels-photo-574070.842d6d748abef7c9fc80.jpg?alt=media&token=8e9c00b3-0089-4df8-b0b3-35e94fb1cf66');
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &-wrapper {
    padding: 2rem;
    background-color: $color-fade-white;
    border-radius: 1rem;

    @include breakpoint(lg, up) {
      width: 60%;
    }
  }

  &-introduction {
    margin: 0 0 0.3em 0;
    font-size: 1.5rem;
    color: $color-dark-cerulean;
  }

  &-description {
    color: $color-black;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  &-aboutMeLink {
    margin-top: 1em;
    position: relative;
    border: 3px solid $color-dark-cerulean;
  }

  &-learnMore {
    display: flex;
    margin-top: 1rem;
  }

  &-learnMoreButton {
    @include flex(row, center, left);
  }

  &-learnMoreButtonText {
    margin: 0
  }

  &-learnMoreButtonIcon {
    padding-left: 1em;
    height: 1em;
    align-self: center;
    display: flex;
  }
}