@import "styles/colors.scss";
@import "styles/animations.scss";

.SocialIcon {
  color: $color-white;
  background-color: $color-regent-gray;
  height: 36px;
  width: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 2px;
  margin-right: 6px;

  &:hover {
    background-color: $color-cerulean;
    .SocialIconsFont {
      &:before {
        transform: $scale-1-2;
      }
    }
  }
}