.SocialIcon {
  color: #ffffff;
  background-color: #8b969e;
  height: 36px;
  width: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 2px;
  margin-right: 6px; }
  .SocialIcon:hover {
    background-color: #129bda; }
    .SocialIcon:hover .SocialIconsFont:before {
      transform: scale(1.2); }
