/*Navbar show/hide breakpoint*/
.Button {
  position: relative;
  border: 3px solid #129bda;
  line-height: 18pt;
  padding: 12px;
  max-width: 20em;
  background-color: #129bda;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid #129bda; }
  .Button:hover {
    background-color: #ffffff;
    color: #129bda; }

.Button--white {
  background-color: #ffffff;
  color: black; }
  .Button--white:hover {
    background-color: #ffffff;
    color: #129bda; }
