@import 'styles/colors.scss';
@import 'fonts/social-icons-font.css';

.ContactInfo {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 1em;
  
  strong {
    &::before {
      content: '-';
      margin-right: 0.3em;
    }
    margin-left: 0.3em;
  }
}
