@import "styles/flex.scss";

.TextInput {
  &-wrapper {
    @include flex(column, center, center, $inlineFlex: true);
    position: relative;
    height: 2rem;
  }
  &-inputWrapper {
    @include flex(column, center, center);
  }

  &-input {
    padding: 1.5rem 0.75rem 0.75rem;
  }

  &-inputWrapper, &-label, &-input {
    height: 100%;
  }

  &-label {
    position: absolute;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    @include flex(column, center, center);

    &--top {
      transform: translate(0, -2rem) scale(0.75);
    }
  }

  &-error {

  }
}