@mixin flex($flow, $justifyContent, $alignItems, $flexValue: 0, $inlineFlex: false) {
    @if $inlineFlex {
        display: inline-flex;
        display: -webkit-inline-flex;
    } @else {
        display: flex;
        display: -webkit-flex;
    }
    -webkit-flex-flow: $flow;
    flex-flow: $flow;
    -webkit-justify-content: $justifyContent;
    justify-content: $justifyContent;
    align-items: $alignItems;
    @if $flexValue != 0 {
      flex: $flexValue;
    }
}