$size-xs: 320px;
$size-sm: $size-xs + 1;
$size-sm-max: 768px;
$size-md: $size-sm-max + 1;
$size-md-max: 920px;
$size-lg: $size-md-max +1;

// Section Booster sizes
$section-maxwidth-lg: 80%;

/*Navbar show/hide breakpoint*/
$navbar-hide: 960px;
$navbar-show: $navbar-hide + 1;

$navbar-width: 15em;
$navbar-scrollable-height-min: 668px;


@mixin breakpoint($resolution, $only) {
  @if ($only == down) {
    @if ($resolution == xs) {
      @media (max-width: $size-xs) {
        @content;
      }
    }

    @if ($resolution == sm) {
      @media (max-width: $size-sm) {
        @content;
      }
    }

    @if ($resolution == md) {
      @media (max-width: $size-md) {
        @content;
      }
    } @else {
      @media (max-width: $size-lg) {
        @content;
      }
    }
  }

  @if ($only == up) {
    @if ($resolution == xs) {
      @media (min-width: $size-xs) {
        @content;
      }
    }

    @if ($resolution == sm) {
      @media (min-width: $size-sm) {
        @content;
      }
    }

    @if ($resolution == md) {
      @media (min-width: $size-md) {
        @content;
      }
    } @else {
      @media (min-width: $size-lg) {
        @content;
      }
    }
  }

  @if ($only == only) {
    @if ($resolution == xs) {
      @media (min-width: 0px) and (max-width: $size-xs) {
        @content;
      }
    } @else if ($resolution == sm) {
      @media (min-width: $size-sm) and (max-width: $size-sm-max) {
        @content;
      }
    } @else if ($resolution == md) {
      @media (min-width: $size-md) and (max-width: $size-md-max) {
        @content;
      }
    } @else {
      @media (min-width: $size-lg) {
        @content;
      }
    }
  }
}