@import url(fonts/social-icons-font.css);
.ContactInfo {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 1em; }
  .ContactInfo strong {
    margin-left: 0.3em; }
    .ContactInfo strong::before {
      content: '-';
      margin-right: 0.3em; }
