/*Navbar show/hide breakpoint*/
.Form {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 320px) {
    .Form {
      padding: 1rem; } }
  @media (max-width: 921px) {
    .Form {
      padding: 1rem; } }
  @media (min-width: 769px) {
    .Form {
      width: 600px; } }
  .Form-inputList {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
    flex-wrap: wrap; }
  .Form-input {
    width: 50%; }
    .Form-input--fullWidth {
      width: 100%; }
    .Form-input:not(first-child) {
      margin-top: 1rem;
      padding-left: 1rem; }
