@import "styles/flex.scss";
@import "styles/media-sizes.scss";
@import "styles/colors.scss";

.Form {
    @include flex(column, space-around, center);

    @include breakpoint(xs, down) {
        padding: 1rem;
    }

    @include breakpoint(md, up) {
        width: 600px;
    }

    &-inputList {
        @include flex(row, space-around, flex-start);
        width: 100%;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }

    &-input {
        width: 50%;
        &--fullWidth {
            width: 100%;
        }
        &:not(first-child) {
            margin-top: 1rem;
            padding-left: 1rem;
        }
    }
}