.educational-experience-item {
  color: #666677;
  font-family: Marriweather;
  padding: 1em 1em 0 1em; }
  .educational-experience-item h1 {
    font-size: inherit; }
  .educational-experience-item .firstName {
    margin: 0 0 1em 0; }
  .educational-experience-item .institution {
    color: black; }
    .educational-experience-item .institution:after {
      content: "";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 15px;
      margin-left: 10px;
      border-top: 1px solid black; }
  .educational-experience-item .location {
    margin-left: 10px; }
  .educational-experience-item .period {
    color: #686564; }
  .educational-experience-item .description {
    font-size: 1em;
    color: #686564; }
