/*Navbar show/hide breakpoint*/
.NavigationBar {
  position: fixed;
  top: 0;
  z-index: 11;
  background-color: black;
  width: 100%;
  font-family: "Poppins", sans-serif; }
  .NavigationBar-toggleWrapper {
    align-self: flex-end;
    width: 100%; }
  .NavigationBar-contentWrapper {
    display: flex;
    flex-direction: column;
    top: -100;
    right: 0; }
    .NavigationBar-contentWrapper--hidden {
      visibility: hidden;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      transition-duration: 1s; }
    .NavigationBar-contentWrapper--toggled {
      -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.45, 0, 0, 1);
      transition: transform 0.45s cubic-bezier(0.45, 0, 0, 1); }
