/*Navbar show/hide breakpoint*/
.SectionBooster {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: normal;
  justify-content: normal;
  align-items: center;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  background-color: #f1ececc4; }
  .SectionBooster--whiteFadeBackground {
    background: #f1ececc4; }
  .SectionBooster--centerVertically {
    justify-content: center; }
