@import "styles/flex.scss";
@import "styles/colors.scss";
@import "styles/media-sizes.scss";

.SectionBooster {
    @include flex(column, normal, center, 1);
    width: 100%;
    box-sizing: border-box;
    background-color: $color-fade-white;

    // Module modifiers (Only styling)
    &--whiteFadeBackground {
        background: $color-fade-white;
    }

    &--centerVertically {
        justify-content: center;
    }
}
