@import "styles/flex.scss";
@import "styles/media-sizes.scss";
@import "styles/colors.scss";

.TimelineItem {
    width: 100%;
    height: 100%;
    @include flex(row, space-evenly, flex-start);

    &-description {
        height: 100%;
    }

    &-leftBubble, &-content, &-rightBubble {
        height: 100%;
    }

    &-leftBubble, &-content, &-rightBubble, &-header {
        align-self: flex-start;
    }

    &-content {
        flex-grow: 1;
        @include flex(column, space-around, flex-start);
    }
}