/*Navbar show/hide breakpoint*/
.TimelineItem {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  align-items: flex-start; }
  .TimelineItem-description {
    height: 100%; }
  .TimelineItem-leftBubble, .TimelineItem-content, .TimelineItem-rightBubble {
    height: 100%; }
  .TimelineItem-leftBubble, .TimelineItem-content, .TimelineItem-rightBubble, .TimelineItem-header {
    align-self: flex-start; }
  .TimelineItem-content {
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: flex-start; }
