/*Navbar show/hide breakpoint*/
.Home {
  font-family: Lato, sans-serif;
  border-radius: .25rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  flex: 1; }
  @media (max-width: 769px) {
    .Home {
      padding: 1rem;
      background-color: #6f5499; } }
  .Home-container {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    height: 100%;
    width: 100%; }
    @media (min-width: 769px) {
      .Home-container {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nfm-cv.appspot.com/o/pexels-photo-574070.842d6d748abef7c9fc80.jpg?alt=media&token=8e9c00b3-0089-4df8-b0b3-35e94fb1cf66");
        background-position: center;
        background-repeat: no-repeat; } }
  .Home-wrapper {
    padding: 2rem;
    background-color: #f1ececc4;
    border-radius: 1rem; }
    @media (min-width: 921px) {
      .Home-wrapper {
        width: 60%; } }
  .Home-introduction {
    margin: 0 0 0.3em 0;
    font-size: 1.5rem;
    color: #062F4F; }
  .Home-description {
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem; }
  .Home-aboutMeLink {
    margin-top: 1em;
    position: relative;
    border: 3px solid #062F4F; }
  .Home-learnMore {
    display: flex;
    margin-top: 1rem; }
  .Home-learnMoreButton {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: left; }
  .Home-learnMoreButtonText {
    margin: 0; }
  .Home-learnMoreButtonIcon {
    padding-left: 1em;
    height: 1em;
    align-self: center;
    display: flex; }
