/*Navbar show/hide breakpoint*/
.CurriculumVitae-content {
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
