
@import "styles/colors.scss";
@import "styles/flex.scss";
@import "styles/media-sizes.scss";
@import "styles/fonts.scss";


.NavigationBar {
    position: fixed;
    top: 0;
    z-index: 11;
    background-color: $color-black;
    font-family: $font-poppins-sans-serif;

    &-toggleWrapper {
        align-self: flex-end;
        width: 100%;
    }

    &-contentWrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        top: -100;
        right: 0;

        &--hidden {
            visibility: hidden;
            -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
            transition-duration: 1s;
        }
    
        &--toggled {
            -webkit-transition: -webkit-transform .45s cubic-bezier(.45,0,0,1);
            transition: transform .45s cubic-bezier(.45,0,0,1);
        }
    }
}