@import "styles/colors.scss";
@import "styles/media-sizes.scss";

.Button {
  position: relative;
  border: 3px solid $color-cerulean;
  line-height: 18pt;
  padding: 12px;
  max-width: 20em;
  background-color: $color-cerulean;
  color: $color-white;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  border: 2px solid $color-cerulean;
    
  &:hover {
    background-color: $color-white;
    color: $color-cerulean;
  }
}

.Button--white {
  background-color: $color-white;
  color: $color-black;
  
  &:hover {
    background-color: $color-white;
    color: $color-cerulean;
  }
}