@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/flex.scss';
@import 'styles/media-sizes.scss';

.WorkExperienceItem {
    @include flex(column, center, stretch);
    font-family: "Neuton", serif;
    max-width: 700px;
    margin-bottom: 1rem;
    color: $color-dove-gray;

    @include breakpoint(sm, down) {
        max-width: 80%;
    }

    @include breakpoint(xs, down) {
        max-width: 95%;
    }

    border-radius: 0 0 .28571429rem .28571429rem        ;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;

    &:hover {
        transform: translateY(-3px);
    }
 
    &-description {
        font-size: 1.25rem;
        padding: 1rem 1rem 1rem 0;
    }

    &-image {
        width: 100px;
        height: 100px;
    }

    &-contentWrapper {
        @include flex(column, center, center);
        padding-left: 1rem;
    }

    &-top {
        padding-top: 1rem;
    }

    &-headerWrapper {
        padding: .1rem;
        box-sizing: border-box;
        border-radius: 0.125rem;
        cursor: pointer;
        @include flex(column, space-between, center);
    }

    &-position, &-itemRightElement, &-itemLeftElement {
        color: $color-dolphin;
        margin: 0;
        text-decoration: none;
    }

    &-company {
        color: $color-cerulean;
    }

    &-location{
        color: $color-black-dark;
    }

    &-position {
        font-weight: 400;
        color: black;
        font-size: 1.25rem;
        text-decoration: none;

        @include breakpoint(md, down) {
            width: 240px;
        }
    }

    &-itemWrapper {
        width: 100%;
        @include flex(row, space-around, stretch);
        padding: 0.5rem;
        border-top: 1px solid rgba(0,0,0,.05)!important;
    }


}