/*Navbar show/hide breakpoint*/
.WorkExperienceItem {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: stretch;
  font-family: "Neuton", serif;
  max-width: 700px;
  margin-bottom: 1rem;
  color: #686564;
  border-radius: 0 0 .28571429rem .28571429rem;
  -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease; }
  @media (max-width: 321px) {
    .WorkExperienceItem {
      max-width: 80%; } }
  @media (max-width: 921px) {
    .WorkExperienceItem {
      max-width: 80%; } }
  @media (max-width: 320px) {
    .WorkExperienceItem {
      max-width: 95%; } }
  @media (max-width: 921px) {
    .WorkExperienceItem {
      max-width: 95%; } }
  .WorkExperienceItem:hover {
    transform: translateY(-3px); }
  .WorkExperienceItem-description {
    font-size: 1.25rem;
    padding: 1rem 1rem 1rem 0; }
  .WorkExperienceItem-image {
    width: 100px;
    height: 100px; }
  .WorkExperienceItem-contentWrapper {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 1rem; }
  .WorkExperienceItem-top {
    padding-top: 1rem; }
  .WorkExperienceItem-headerWrapper {
    padding: .1rem;
    box-sizing: border-box;
    border-radius: 0.125rem;
    cursor: pointer;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center; }
  .WorkExperienceItem-position, .WorkExperienceItem-itemRightElement, .WorkExperienceItem-itemLeftElement {
    color: #666677;
    margin: 0;
    text-decoration: none; }
  .WorkExperienceItem-company {
    color: #129bda; }
  .WorkExperienceItem-location {
    color: rgba(0, 0, 0, 0.9); }
  .WorkExperienceItem-position {
    font-weight: 400;
    color: black;
    font-size: 1.25rem;
    text-decoration: none; }
    @media (max-width: 769px) {
      .WorkExperienceItem-position {
        width: 240px; } }
  .WorkExperienceItem-itemWrapper {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: stretch;
    padding: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important; }
