@import 'styles/colors.scss';
@import 'styles/flex.scss';
@import 'styles/fonts.scss';
@import 'styles/media-sizes.scss';

.WorkExperienceEdit {
    width: 100%;
    @include flex(column, space-between, center);
    color: $color-white;

    &-breadCrumb {
        margin: 1rem 0 0 2rem;
        font-family: $font-neuton-serif;
        font-size: 1.5rem;
        width: 100%;
        text-decoration: italic;
        cursor: pointer;
        color: $color-white;
        text-align: left;
    }

    &-header {
        height: 300px;
        @include breakpoint(md, up) {
            height: 600px;
        }

        width: 100%;
        padding: 1.5rem;
        @include flex(column, space-between , center);
        text-align: center;
    }

    &-imageWrapper {
        width: 100%;
        text-align: center;
    }

    &-image {
        border-radius: 0.5rem;
    }

    &-descriptionHeader {
        text-align: center;
        font-size: 2rem;
        font-family: $font-neuton-serif;
    }
    
    &-company {
        font-size: 4rem;
        @include breakpoint(md  , down) {
            font-size: 1.5rem;
        }
        font-family: $font-neuton-serif ;
    }

    &-descriptionWrapper {
        max-width: 700px;
        padding: 4rem 1rem 4rem 1rem;
        color: $color-dove-gray;
        font-family: $font-open-sans;
    }

    &-description, &-jobTask {
        font-size: 1.25rem;
        font-weight: 400;
    }

    &-locationWrapper {
        @include flex(row, space-around, center);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &-location, &-position {
        font-family: $font-neuton-serif;
        font-weight: 500;
        font-size: 1.5rem;
    }

    &-description {
        text-indent: 2rem;
    }

    &-jobTask {
        text-indent: 1rem;
        padding: 0 0 1rem 0;
    }

    &-periodLength {
        font-size: 1rem;
        @include breakpoint(md, up) {
            font-size: 2rem;
        }
    }
}