/*Navbar show/hide breakpoint*/
.WorkExperienceEdit {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  color: #ffffff; }
  .WorkExperienceEdit-breadCrumb {
    margin: 1rem 0 0 2rem;
    font-family: "Neuton", serif;
    font-size: 1.5rem;
    width: 100%;
    text-decoration: italic;
    cursor: pointer;
    color: #ffffff;
    text-align: left; }
  .WorkExperienceEdit-header {
    height: 300px;
    width: 100%;
    padding: 1.5rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
    @media (min-width: 769px) {
      .WorkExperienceEdit-header {
        height: 600px; } }
  .WorkExperienceEdit-imageWrapper {
    width: 100%;
    text-align: center; }
  .WorkExperienceEdit-image {
    border-radius: 0.5rem; }
  .WorkExperienceEdit-descriptionHeader {
    text-align: center;
    font-size: 2rem;
    font-family: "Neuton", serif; }
  .WorkExperienceEdit-company {
    font-size: 4rem;
    font-family: "Neuton", serif; }
    @media (max-width: 769px) {
      .WorkExperienceEdit-company {
        font-size: 1.5rem; } }
  .WorkExperienceEdit-descriptionWrapper {
    max-width: 700px;
    padding: 4rem 1rem 4rem 1rem;
    color: #686564;
    font-family: "Open Sans"; }
  .WorkExperienceEdit-description, .WorkExperienceEdit-jobTask {
    font-size: 1.25rem;
    font-weight: 400; }
  .WorkExperienceEdit-locationWrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .WorkExperienceEdit-location, .WorkExperienceEdit-position {
    font-family: "Neuton", serif;
    font-weight: 500;
    font-size: 1.5rem; }
  .WorkExperienceEdit-description {
    text-indent: 2rem; }
  .WorkExperienceEdit-jobTask {
    text-indent: 1rem;
    padding: 0 0 1rem 0; }
  .WorkExperienceEdit-periodLength {
    font-size: 1rem; }
    @media (min-width: 769px) {
      .WorkExperienceEdit-periodLength {
        font-size: 2rem; } }
