@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.educational-experience-item {
    color: $color-dolphin;
    font-family: Marriweather;
    padding: 1em 1em 0 1em;

    h1 {
        font-size: inherit;
    }
    .firstName {
        margin: 0 0 1em 0;
    }
    .institution {
        color: black;
        &:after {
            content: "";
            display: inline-block;
            height: 0.5em;
            vertical-align: bottom;
            width: 15px;
            margin-left: 10px;
            border-top: 1px solid black;
        }
    }
    .location {
        margin-left: 10px;
    }
   
    .period {
        color: $color-dove-gray;
    }

    .description {
        font-size: 1em;
        color: $color-dove-gray;
    }
    
}