.NavigationToggle {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: normal;
  justify-content: normal;
  align-items: space-between;
  cursor: pointer;
  transition: all 0.125s ease 0.125s; }
  .NavigationToggle-item {
    width: 1.5rem;
    height: 0.15rem;
    background-color: #ffffff;
    transition: all 0.25s ease 0.25s; }
    .NavigationToggle-item--first {
      margin-bottom: 0.2rem; }
    .NavigationToggle-item--toggleFirst {
      transform: rotate(-45deg); }
    .NavigationToggle-item--toggleSecond {
      transform: translateY(-6px) rotate(45deg); }
