@import "styles/flex.scss";
@import "styles/colors.scss";

.NavigationToggle {
    @include flex(column, normal, space-between);
    cursor: pointer;
    transition: all 0.125s ease 0.125s;


    &-item {
        width: 1.5rem;
        height: 0.15rem;
        background-color: $color-white;
        transition: all 0.25s ease 0.25s;

        &--first {
            margin-bottom: 0.2rem;
        }

        &--toggleFirst {
            transform: rotate(-45deg);
        }

        &--toggleSecond {
            transform: translateY(-6px) rotate(45deg);
        }

    }
}