@font-face {
  font-family: 'nfm-social-icons';
  src: url('./social-icons-font.eot?66500642');
  src: url('./social-icons-font.eot?66500642#iefix') format('embedded-opentype'),
       url('./social-icons-font.woff2?66500642') format('woff2'),
       url('./social-icons-font.woff?66500642') format('woff'),
       url('./social-icons-font.ttf?66500642') format('truetype'),
       url('./social-icons-font.svg?66500642#nfm-social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nfm-social-icons';
    src: url('./nfm-social-icons.svg?66500642#nfm-social-icons') format('svg');
  }
}
*/

 [class^="SocialIconsFont"]:before, [class*="SocialIconsFont"]:before {
  font-family: "nfm-social-icons", serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  transition: .25s;
  animation-duration: .8s;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.--bitBucket:before { content: '\f171'; } /* '' */
.--skype:before { content: '\f17e'; } /* '' */
.--stackOverflow:before { content: '\f16c'; } /* '' */
.--gitHub:before { content: '\f113'; } /* '' */
.--linkedIn:before { content: '\f0e1'; } /* '' */