@font-face {
  font-family: 'nfmsharedicons';
  src: url('./nfmsharedicons.eot?26488254');
  src: url('./nfmsharedicons.eot?26488254#iefix') format('embedded-opentype'),
  url('./nfmsharedicons.woff2?26488254') format('woff2'),
  url('./nfmsharedicons.woff?26488254') format('woff'),
  url('./nfmsharedicons.ttf?26488254') format('truetype'),
  url('./nfmsharedicons.svg?26488254#nfmsharedicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.NfmSharedIcons {
  font-family: "nfmsharedicons", serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.NfmSharedIcons--RightArrow:before {
  content: '\e800';
}
/* '' */
.NfmSharedIcons--PaperPlane:before {
  content: '\f124';
}

.NfmSharedIcons--rotate90Deg {
  transition: transform .3s;
  &:hover {
    transform: rotate(90deg);
  }
}