/*Navbar show/hide breakpoint*/
.Header {
  font-family: "Poppins", sans-serif;
  color: #129bda;
  font-weight: 600;
  text-align: center; }
  @media (min-width: 0px) and (max-width: 320px) {
    .Header {
      font-size: 2rem;
      margin: 2rem; } }
  @media (min-width: 769px) {
    .Header {
      font-size: 3.5rem;
      margin: 0; } }
