@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Neuton');
@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/separation.scss';
@import 'styles/transformation.scss';
@import 'styles/image.scss';
@import 'styles/AnimateCss.scss';
@import 'styles/_Paragraph.scss';
@import 'styles/_utils.scss';


body {
  margin: 0 ;
  padding: 0;
  font-family: $font-lato;
}
* {
  box-sizing: border-box;
  text-decoration: none;

}

