@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Neuton");
.mb-2 {
  margin-bottom: 2rem; }

.ml-2 {
  margin-left: 2rem; }

.tt-u {
  text-transform: uppercase; }

.Image--responsive {
  width: 193px;
  min-width: 193px;
  height: 175px;
  min-height: 175px; }

.Image--border {
  border-radius: 0.3rem; }

.AnimateCss {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
  .AnimateCss--fadeInUp {
    animation-name: fadeInUp; }

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
  .AnimateCss--bounceInDown {
    animation-name: bounceInDown; }

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
  .AnimateCss--slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown; }

.Paragraph {
  color: #14273c;
  font-family: "Neuton", serif;
  margin: 0; }
  .Paragraph--small {
    font-weight: 200;
    font-size: 1.3em; }
  .Paragraph--medium {
    font-weight: 200;
    font-size: 1.5em; }
  .Paragraph--identSmall {
    text-indent: 2em; }

/*Navbar show/hide breakpoint*/
.no-margin {
  margin: 0 !important; }

.max-height {
  height: 100%; }

@media (min-width: 769px) {
  .sm-only {
    display: none !important; } }

@media (max-width: 921px) {
  .lg-only {
    display: none !important; } }

@media (min-width: 921px) {
  .md-down {
    display: none !important; } }

@media (max-width: 320px) {
  .hidden-sm {
    display: none !important; } }

@media (max-width: 921px) {
  .hidden-sm {
    display: none !important; } }

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif; }

* {
  box-sizing: border-box;
  text-decoration: none; }
