.TextInput-inputWrapper {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: center;
  flex-flow: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative; }

.TextInput-input {
  padding: 1.25rem 0.75rem 1.25rem;
  border: 0;
  border-bottom: 1px solid black; }
  .TextInput-input--bigBottomError, .TextInput-input--bigBottomBorder {
    border-bottom: 3px solid;
    border-radius: 3px; }
  .TextInput-input--bigBottomBorder {
    border-color: black; }
  .TextInput-input--bigBottomError {
    border-color: #b00020; }

.TextInput-inputWrapper, .TextInput-input {
  height: 100%;
  width: 100%; }

.TextInput-label {
  transform-origin: left top;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  right: initial;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem; }
  .TextInput-label--error {
    color: #b00020; }
  .TextInput-label--topNoError {
    color: #129bda; }
  .TextInput-label--top {
    transform: translateY(-116%) scale(0.75); }

.TextInput-errorList {
  visibility: hidden;
  min-height: 2rem; }
  .TextInput-errorList--show {
    visibility: visible; }

.TextInput-error {
  padding: 0.5rem;
  color: #b00020; }
