@import "styles/flex.scss";
@import "styles/colors.scss";

.TextInput {
  &-inputWrapper   {
    @include flex(center, flex-start, center);
    flex-direction: column;
    position: relative;
  }

  &-input {
    padding: 1.25rem 0.75rem 1.25rem;
    border: 0;
    border-bottom: 1px solid black;

    &--bigBottomError, &--bigBottomBorder {
      border-bottom: 3px solid;
      border-radius: 3px;
    }

    &--bigBottomBorder {
      border-color: black;
    }

    &--bigBottomError {
      border-color: $color-monza;
    }
  }

  &-inputWrapper, &-input {
    height: 100%;
    width: 100%;
  }

  &-label {
    transform-origin: left top;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $color-black-rgba-6;    
    position: absolute;
    @include flex(column, center, center);
    right: initial;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;

    &--error {
      color: $color-monza;
    }

    &--topNoError {
      color: $color-cerulean;
    }

    &--top {
      transform: translateY(-116%) scale(0.75);
    }
  }

  &-errorList {
    visibility: hidden;
    min-height: 2rem;

    &--show {
      visibility: visible;
    }
  }

  &-error {
    padding: 0.5rem;
    color: $color-monza;
  }
}