@import "styles/flex.scss";
@import 'styles/colors.scss';
@import "styles/media-sizes.scss";

.WorkExperienceList {
    @include flex(row, center, space-evenly);
    width: 100%;
    height: 100%;
    padding: 1rem 0 1rem 0;

    &-content {
        max-width: 700px;
        @include flex(row, center, flex-start);
        flex-wrap: wrap;
    }

    &-itemWrapper {
        @include flex(row, center, center);
    }
}