@import "styles/flex.scss";
@import "styles/colors.scss";
@import "styles/flex.scss";


.Contact {
    width: 100%;
    @include flex(column, center, center);

    &-headerContent {
        color: $color-white;
        text-align: center;
        height: 100%;
        font-size: 1.25rem;
        @include flex(column, center, center);
    }

}