.Contact {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center; }
  .Contact-headerContent {
    color: #ffffff;
    text-align: center;
    height: 100%;
    font-size: 1.25rem;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center; }
