@import 'styles/colors.scss';

.Paragraph {
    color: $color-big-stone;
    font-family: $font-neuton-serif;
    margin: 0;

    &--small {
        font-weight: 200;
        font-size: 1.3em;
    }

    &--medium {
        font-weight: 200;
        font-size: 1.5em;
    }

    &--identSmall{
        text-indent: 2em;
    }
}