@import 'styles/media-sizes.scss';

.no-margin {
  margin: 0 !important
}

.max-height {
  height: 100%;
}

.sm-only {
  @include breakpoint(md, up) {
    display: none !important;
  }
}

.lg-only {
  @include breakpoint(lg, down) {
    display: none !important;
  }
}

.md-down {
  @include breakpoint(lg, up) {
    display: none !important;
  }
}

.hidden-sm {
  @include breakpoint(xs, down) {
    display: none !important;
  }
}