$color-tundora: #454545;
$color-vista-white: #FCF8F7;
$color-dolphin: #666677;
$color-dolphin-light: #afa5a5;
$color-dolphin-dark: #6b6b6f;
$color-mariner: #267bce;
$color-blue-haze: #b5b5ce;

//New colors
$color-aqua-haze: #edf1f5;
$color-catskill-white: #eef1f6;
$color-cerulean: #129bda;
$color-cornflower-blue: rgba(0,0,0,.68);
$color-dark-cerulean: #062F4F;
$color-dust-gray: #979797;
$color-dove-gray: #686564;
$color-regent-gray: #8b969e;
$color-white: #ffffff;
$color-fade-white: #f1ececc4;
$color-black: black;
$color-black-light: rgba(0,0,0,.4);
$color-black-dark: rgba(0,0,0,0.9);
$color-alto: #d9d9d9;
$color-big-stone: #14273c;
$color-butterfly-bush: #6f5499;
