@mixin flex($flow, $justifyContent, $alignItems, $flexValue: 0) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: $flow;
    flex-flow: $flow;
    -webkit-justify-content: $justifyContent;
    justify-content: $justifyContent;
    align-items: $alignItems;
    @if $flexValue != 0 {
      flex: $flexValue;
    }
  }
  