/*Navbar show/hide breakpoint*/
@font-face {
  font-family: 'about-me';
  src: url("font/about-me.eot?76873091");
  src: url("font/about-me.eot?76873091#iefix") format("embedded-opentype"), url("font/about-me.woff2?76873091") format("woff2"), url("font/about-me.woff?76873091") format("woff"), url("font/about-me.ttf?76873091") format("truetype"), url("font/about-me.svg?76873091#about-me") format("svg");
  font-weight: normal;
  font-style: normal; }

.AboutMe {
  border-radius: 1rem;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }
  .AboutMe-pageHeader {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center; }
  .AboutMe-profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/nfm-cv.appspot.com/o/nico-home.jpg?alt=media&token=175c6e9e-ce92-4477-b9e3-fa26d12df719); }
  .AboutMe-personalIntroduction {
    color: #d9d9d9;
    padding: 4rem 4rem;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center; }
    @media (min-width: 769px) {
      .AboutMe-personalIntroduction {
        max-width: 720px; } }
    @media (max-width: 769px) {
      .AboutMe-personalIntroduction {
        padding: 2rem; } }
  .AboutMe-aboutMe {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    align-items: center; }
  .AboutMe-aboutMePicture {
    border-radius: 50px;
    border: 3px solid gray; }
  .AboutMe-icon {
    font-family: 'about-me'; }
    .AboutMe-icon--Download:before {
      content: '\e801'; }
    .AboutMe-icon--LinkedIn:before {
      content: '\f318'; }
  .AboutMe-externalLinks {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    align-items: center; }
