@import "styles/flex.scss";
@import "styles/media-sizes.scss";
@import "styles/colors.scss";
@font-face {
  font-family: 'about-me';
  src: url('font/about-me.eot?76873091');
  src: url('font/about-me.eot?76873091#iefix') format('embedded-opentype'),
       url('font/about-me.woff2?76873091') format('woff2'),
       url('font/about-me.woff?76873091') format('woff'),
       url('font/about-me.ttf?76873091') format('truetype'),
       url('font/about-me.svg?76873091#about-me') format('svg');
  font-weight: normal;
  font-style: normal;
}

.AboutMe {
  border-radius: 1rem;
  @include flex(column, space-evenly, center);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
 
  &-pageHeader {
    width: 100%;
    height: 100%;
    @include flex(column, center, center);
  }

  &-profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/nfm-cv.appspot.com/o/nico-home.jpg?alt=media&token=175c6e9e-ce92-4477-b9e3-fa26d12df719);
  }

  &-personalIntroduction {
    color: $color-alto;
    @include breakpoint(md, up) {
      max-width: 720px;
    }
  
    padding: 4rem 4rem;
    @include flex(row, center, center);
    
    @include breakpoint(md, down) {
      padding: 2rem;
    }
  }

  &-aboutMe {
    @include flex(column, space-evenly, center);

  }
  
  &-aboutMePicture {
    border-radius: 50px;
    border: 3px solid gray;
  }

  &-icon {
    font-family: 'about-me';

    &--Download:before {
      content: '\e801';
    }

    &--LinkedIn:before {
      content: '\f318'; 
    }
  }

  &-externalLinks{
    @include flex(row, space-evenly, center);
  }
}